<%= form_with(model: @discussion_thread, local: true) do |form| %>


    <h1 class="text-xl font-bold">Update thread</h1>
  <div class="p-[10px] border text-xs rounded text-gray-600 w-fit mt-4">
    <p>Please follow our cominuty guidelines</p>
  </div>
  <div>
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class:'input' %>
  </div>
  
  <div>
    <%= form.label :content, class:'label' %>
    <%= form.text_area :content, class:'input p-4' %>
  </div>
  
  <div class="flex gap-4 items-center mt-8">
    <%= form.label :'locked thread', class:'label !mt-0'%>
    <%= form.check_box :locked %>
  </div>
  
  <%= form.submit "Update Thread", class:"button mt-8" %>

  <% end %>
  