<%= form_with model: @discussion_thread, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  
  <div>
    <%= form.label :locked %>
    <%= form.check_box :locked %>
  </div>
  
  <%= form.submit "Create Thread" %>
<% end %>
