<!DOCTYPE html>
<html>
  <head>
    <title>BulletinRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    


    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% unless controller_name == 'sessions' && (action_name == 'new' || action_name == 'create') || controller_name == 'users' && (action_name == 'new' || action_name == 'create') %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <main class="max-w-[1000px] mx-auto mt-28 px-5 flex flex-col">

      <% flash.each do |message_type, message| %>
        <div class="<%= flash_class(message_type)  %> flash-message"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>



    <script>
    document.addEventListener("turbo:load", function(){ // For Turbo, or "turbolinks:load" for Turbolinks
      const flashMessages = document.querySelectorAll('.flash-message');
      setTimeout(function() {
        flashMessages.forEach(function(flashMessage) {
          flashMessage.style.display = 'none';
        });
      }, 3000);
    });

  </script>
  </body>
</html>
